[global_s]:
compiler = "g++"

[global_e]:
sources = "./src/wcat_main.cc"

[release]:
# NOTE: -std=c++20+ is required as this project uses `char8_t`
args = ["-std=c++23", "-O3", "-DNDEBUG", "-Os", "-Ofast", "-Og", "-s", "-march=native", "-masm=att", "-mtune=native", "-fipa-pta", "-ftree-vectorize", "-flto=auto", "-funroll-all-loops"]
output = ["-o", "./bin/wcat"]

[debug]:
args = ["-std=c++23", "-g", "-ggdb3", "-Wall", "-Wextra", "-Wuninitialized", "-Wstrict-aliasing", "-Wshadow", "-pedantic"]
output = ["-o", "./bin/wcat_debug.out"]

[install]X:
cmds = ["sudo", "mv", "./bin/wcat", "/usr/bin/"]